<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">
        
    <!-- Core -->
	<context:component-scan base-package="bg.infosys.interns.bmanagement.core.dao" />
	<!-- WS -->
	<context:component-scan base-package="bg.infosys.interns.bmanagement.ws.controllers"/>
	<context:component-scan base-package="bg.infosys.interns.bmanagement.ws.service"/>
	<context:component-scan base-package="bg.infosys.interns.bmanagement.ws.dto.mapper"/>
	<context:component-scan base-package="bg.infosys.interns.bmanagement.ws.cron"/>
	
	<mvc:resources mapping="swagger-ui.html" location="classpath:/META-INF/resources/"/>
	<mvc:resources mapping="/webjars/**" location="classpath:/META-INF/resources/webjars/"/>
    <bean class="bg.infosys.interns.bmanagement.ws.config.SwaggerConfig"/>
    
    <mvc:default-servlet-handler/>
    
    <mvc:cors>
	<mvc:mapping path="/**"
		allowed-origins="*"
		allowed-headers="Content-Type, content-type, x-requested-with, Access-Control-Allow-Origin, Access-Control-Allow-Headers, x-auth-token, x-app-id, Origin,Accept, X-Requested-With, Access-Control-Request-Method, Access-Control-Request-Headers"
		allowed-methods="*"
		exposed-headers="x-auth-token, Access-Control-Allow-Origin"/>
	</mvc:cors>
	
	<import resource="database.xml"/>
	<mvc:annotation-driven />
</beans>
