.img-background{
    height: 94vh;
    width: 83vw;
    position: relative;
    background-size:100%;
    background-position: 50% 50%;
    background-image: url('background.jpeg');
    
}

.text{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}