
    <div class="col-md-6 offset-md-3">
        <h3> Create Tag </h3>
        <form (ngSubmit) = "onSubmit()">
        <div *ngIf = "(message)!=''">
            <em class = "text-danger">{{message}}</em>
        </div>
            <div class="form-group">
                <label> Code </label>
                <input type="text" class ="form-control" id = "code"
                    [(ngModel)] = "tag.code" name = "code">
            </div>
            <div class="col-xs-12" style="height:20px;"></div>
            <div class="form-group">
                <label> Name </label>
                <input type="text" class ="form-control" id = "name"
                    [(ngModel)] = "tag.name" name = "name">
            </div>
            <div class="col-xs-12" style="height:20px;"></div>
            
            <button class = "btn btn-success" type ="submit">Submit</button>
        
        </form>
        </div> 


