<div class="col-md-6 offset-md-3">
    <h3> Create Shop </h3>
        <form (ngSubmit) = "onSubmit()">
        <div *ngIf = "(message)!=''">
            <em class = "text-danger">{{message}}</em>
        </div>
        <div class="form-group">
            <label> Name </label>
            <input type="text" class ="form-control"
                [(ngModel)] = "shop.name" name = "name">
        </div>
        <div class="col-xs-12" style="height:20px;"></div>
        <div class="form-group">
            <label> Street </label>
            <input type="text" class ="form-control"
                [(ngModel)] = "inputStreet" name = "inputStreet">
        </div>
        <div class="col-xs-12" style="height:20px;"></div>
        <div class="form-group">
            <label style="padding-right: 10px;"> Country </label>
            <select [(ngModel)]="inputCountry" name="InputCountry">
                <option *ngFor="let c of countries" [ngValue]="c">{{c.name}}</option>
              </select>
        </div>
        <div class="col-xs-12" style="height:20px;"></div>
        <div class="form-group">
            <label> Phone Number </label>
            <input type="text" class ="form-control" 
                [(ngModel)] = "shop.phoneNumber" name = "phoneNumber">
        </div>
        <div class="col-xs-12" style="height:20px;"></div>
        <div class="form-group">
            <label style="padding-right: 10px;"> Status </label>
            <select [(ngModel)]="inputStatus" name = "inputStatus">
                <option *ngFor="let c of statuses" [ngValue]="c">{{c}}</option>
              </select>
        </div>
        <div class="col-xs-12" style="height:20px;"></div>
        <button class = "btn btn-success" type ="submit">Submit</button>
    </form>
    </div> 