<div class="create">
    <button routerLink = "/create-manufacturer" routerLinkActive = "active"  class = "btn btn-success">Create</button>
</div>
<div class = "search-button">
    <button class="btn btn-info" type = "submit" (click)="clear()">Clear</button>
</div>
<div class="searchName">
    <div class = "search-button">
        <button class="btn btn-success" type = "submit" (click)="search()">Search</button>
    </div>
    <div class = "search-box">
        <input type="text" class="search form-control" [(ngModel)]="inputName">
    </div>
    <div class = "label">
        <label>Name</label>
    </div>
    <div class = "search-box">
        <input type="text" class="search form-control" [(ngModel)]="inputAddress">
    </div>
    <div class = "label">
        <label>Address</label>
    </div>
</div>
<div class="searchName">
    <div class = "search-box">
        
    </div>
    
</div>
<div class = "myTable">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id<mat-icon class = "sortBy" (click)="sort('id')">swap_vert</mat-icon></th>
                <th>Name<mat-icon class = "sortBy" (click)="sort('name')">swap_vert</mat-icon></th>
                <th>Address<mat-icon class = "sortBy" (click)="sort('address')">swap_vert</mat-icon></th>
                <th>FoundationDate<mat-icon class = "sortBy" (click)="sort('foundationDate')">swap_vert</mat-icon></th>
                <th>Description</th>
                <th class="actions">Action</th>
            </tr>
         </thead>
             <tbody class = "myBody">
                 <tr *ngFor = "let manufacturer of manufacturers | paginate: { itemsPerPage: itemsPerPage, currentPage: page, totalItems: items }">
                    <td>{{manufacturer.id}}</td>
                    <td>{{manufacturer.name}}</td>
                    <td>{{manufacturer.address.street}}</td>
                    <td>{{manufacturer.foundationDate}}</td> 
                    <td>{{manufacturer.description}}</td> 
                    <td class="actions">
                        <i class = "icon" (click) = 'updateManufacturer(manufacturer.id)'><mat-icon>build</mat-icon></i>
                        <i  class = "icon" (click) = 'deleteManufacturer(manufacturer.id)'><mat-icon>delete</mat-icon></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class = "myPaging">
        <pagination-controls (pageChange)='changePage($event)' (pageBoundCorrection)='changePage($event)'></pagination-controls>
    </div>
