<div class="sidebar-container">
  <div class="sidebar-logo">
    <span>BMANAGEMENT</span>
  </div>
  <ul class="sidebar-navigation">
    <li class="header">Navigation</li>
    <li routerLink = "home">
        Home
      
    </li>

    <li
       routerLink = "shops">
        Shops
      
    </li>

    <li routerLink = "positions">
        Positions
     
    </li>

    <li routerLink = "employees">
        Employees
    
    </li>
    
    <li routerLink = "manufacturers">
        Manufacturers
      
    </li>

    <li routerLink = "orders">
        Orders
      
    </li>

    <li routerLink = "products">
        Products
    
    </li>
    <li routerLink = "productsShops">
      Products in Shops
   
  </li>

    <li routerLink = "reports">
        Reports
    
    </li>

    <li routerLink = "tags">
        Tags
      
    </li>

    <li routerLink = "types">
        Types
     
    </li>

    <li routerLink = "recipes">
      Recipes
   
  </li>

  <li routerLink = "product-recipe">
    Product-recipe
 
</li>

  </ul>
</div>

<div class="content-container">
  <div class="container-fluid">
    <div class="jumbotron">
     <router-outlet></router-outlet>
    </div>
  </div>
</div>